html,body{height: 100%;}


/* for desktops */
@media (max-width: 1200px) {
    html {
        zoom: 230%;
	}
} 


/* for laptops */
@media (max-width: 991px) {
    html {
        zoom: 200%;
	}
} 

/* for large tablets */
@media (min-width: 768px) and (max-width: 990px) {
	html {
        zoom: 180%;
	}
} 

/* for smaller tablets */
@media (max-width: 768px) {
	html {
        zoom: 150%;
	}
} 

/* for cellphones */
@media (max-width: 500px) {
	html {
        zoom: 100%;
	}
} 








body{
    background: #000000;
    font-family: 'Heebo', sans-serif;
}

.title_case{
    display: table;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.title_case_copy{
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;

}

h1{
    font-weight: 200;
    color: #ffff;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    width: 13ch;
    animation: typing 1.2s steps(13), blink .3s step-end infinite alternate;
    border-right: 3px solid;
    font-size: 2em;
}

.avatar{
    border-radius: 100px 100px 100px 100px;
    height: 150px;
    width: 150px;
    animation: pulse 1.5s;
}

.fab.fa-instagram.fa-3x{
    padding: 20px;
    color: 	springgreen;
    text-decoration: none;
}

.fab.fa-github.fa-3x{
    padding: 20px;
    color: springgreen;
    text-decoration: none;
}

.fab.fa-twitter.fa-3x{
    padding: 20px;
    color: springgreen;
    text-decoration: none;
}

.fab.fa-telegram.fa-3x{
    padding: 20px;
    color: springgreen;
    text-decoration: none;
}


/*- - - - Typing animation - - - -*/

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/*- - - - - - - - - - - - - - - - -*/


/*- - - - Pulse animation - - - -*/

  @keyframes pulse {
    0% {
        transform: scale(0.5);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  }

/*- - - - - - - - - - - - - - - - -*/
